* {
    margin: 0;
}



.upper-part {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 100px;
}

.container {


    background-color: #E5E5FD;
    height: 1330px;
    width: calc(100% - 20px);
    border: 10px solid #1D1E4C;;
}

.img1 {
    height: 325px;
    width: 300px;
    clip-path: ellipse();
}

.head1 {
    font-size: 50px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
}

.life {
    font-size: 30px;
    font-weight: bold;
}

.section2 {
    font-size: 70px;
    font-weight: 400;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.p1 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
    margin-left: 12%;
    margin-right: 15%;
}

.h61 {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 12%;
    font-weight: bold;
}

.p2 {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.img2 {
    position: relative;
    left: -60px;
}

.list {
    margin-left: 15%;
}

li {
    margin-top: 15px;
}

.end {
    text-align-last: right;
    margin-top: 50px;
    margin-right: 12%;
}
@media screen and (max-width:950px){
    .container{height: 2500px;
        background-color: #E5E5FD;
        width: calc(100% - 20px);
        border: 10px solid #1D1E4C;;}
        .upper-part {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 100px;}
            .section2 {
                font-size: 50px;
                font-weight: 400;
                margin-left: 15%;}
                .head1 {
                    font-size: 30px;
                    font-weight: bold;
                    color: #1d1e4c;2
                    text-transform: uppercase;}
                    .life {
                        font-size: 10px;
                        font-weight: bold;
                    }
                    .img2 {
                        position: relative;
                        left: 0px;
                    }
                    .list {
                        margin-left: 10%;
                    }
                    
}
@media screen and (max-width:1082px) and (min-width:950px){
    .container{height: 1600px;
        background-color: #E5E5FD;
        width: calc(100% - 20px);
        border: 10px solid #1D1E4C;;}
        .upper-part {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 100px;}
            .section2 {
                font-size: 70px;
                font-weight: 400;
                margin-left: 15%;}
                .head1 {
                    font-size: 30px;
                    font-weight: bold;
                    color: #1d1e4c;2
                    text-transform: uppercase;}
                    .life {
                        font-size: 10px;
                        font-weight: bold;
                    }
                    .img2 {
                        position: relative;
                        left: 0px;
                    }
}
